.footer {
    width: 100%;
    .content {
        margin: 0 auto;
        background-color: rgb(84, 92, 100);
        .content-top {
            width: 60vw;
            overflow: hidden;
            margin: 0 auto;
            .box {
                display: none;
            }
            ul {
                list-style: none;
                display: flex;
                width: 60vw;
                margin: 1.875rem auto 0;
                justify-content: space-around;
                li {
                    p {
                        cursor: pointer;
                        text-align: left;
                        font-size: 0.8125rem;
                        color: white;
                        margin-bottom: 0.4375rem;
                    }
                    p:nth-child(1) {
                        font-size: 1.0625rem;
                        margin-bottom: 0.3125rem;
                    }
                    p:nth-child(2) {
                        width: 1.875rem;
                        height: 0.0625rem;
                        background-color: rgb(255, 208, 75);
                        margin-bottom: 0.625rem;
                    }
                }
            }
        }
        @media screen and (max-width: 50rem) {
            .content-top {
                width: 100vw;
                ul {
                    display: none;
                }
                .box {
                    display: block;
                    margin-bottom: 0.9375rem;
                    .title {
                        text-align: left;
                        width: 30vw;
                        margin-left: 10vw;
                        .p1 {
                            cursor: pointer;
                            text-align: left;
                            color: white;
                            font-size: 1.0625rem;
                            margin-bottom: 0.3125rem;
                        }
                        .p2 {
                            width: 1.875rem;
                            height: 0.0625rem;
                            background-color: rgb(255, 208, 75);
                            margin-bottom: 0.5rem;
                        }
                    }
                    .middle{
                        margin-left: 10vw;
                        display: flex;
                        cursor: pointer;
                        text-align: left;
                        font-size: 0.8125rem;
                        color: white;
                        p{
                            margin-right: 3vw;
                        }
                    }
                }
                .box1{
                    margin-top: 1.875rem;
                }
                .box4{
                    margin-bottom: 1.875rem;
                }
            }
        }
        .content-bottom {
            height: 3.75rem;
            background-color: #464d53;
            p {
                text-align: center;
                text-align-last: center;
                font-size: 0.75rem;
                height: 3.75rem;
                line-height: 3.75rem;
                color: #c9d4df;
            }
        }
    }
}
