.contact {
    overflow: hidden;
    background-color: #f6f6f6;
    .header {
        .top-right {
            ul {
                .lx {
                    border-bottom: 0.125rem solid rgb(255, 208, 75);
                    p {
                        color: rgb(255, 208, 75);
                    }
                }
            }
        }
    }
    .middle {
        // margin-top: 80px;
        .banner {
            width: 100%;
            height: 25rem;
            background: url(../assets/Home/123456.jpg) no-repeat;
            background-size: cover;
            overflow: hidden;
            .banner-content {
                margin-top: 6.25rem;
                width: 62.5rem;
                overflow: hidden;
                margin: 6.25rem auto 0;
                .mywords {
                    width: 25rem;
                    color: white;
                    font-size: 1.5em;
                    line-height: 1.8em;
                    position: relative;
                    animation: fontcolor 2s 1.6s forwards;
                }
        
                @keyframes fontcolor {
                    to{
                        color: black;
                    }
                }
        
                .mywords.from {
                    width: 7.5rem;
                    margin: 1em 0 0 15.625rem;
                }
                .mywords::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 100%;
                    height: 100%;
                    background-color: cyan;
                    transform: scaleX(0);
                    transform-origin:left ;
                    animation: move 2s cubic-bezier(0.75,0,0,1) forwards;
                }
                .mywords.from::before{
                    background-color: orange;
                    animation-delay: 2s;
                    /* animation: move 2s 2s cubic-bezier(0.75,0,0,1) forwards; */
                }
                .mywords.from
                {
                    animation-delay: 3.2s;
                }
                @keyframes move {
                    50%{
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                    50.1%
                    {
                        transform-origin: right;
                    }
                    100%
                    {
                        transform-origin: right;
                        transform: scaleX(0);
                    }
                }
            }
        }
        .way {
            margin-top: 0.3125rem;
            margin-bottom: 6.25rem;
            text-align: left;
            padding-left: 19vw;
            color: #666;
            font-size: .5625rem;
        }
        .site {
            margin-bottom: 160px;
            .big-title {
                font-size: 1.375rem;
                letter-spacing: 1.5rem;
                margin-bottom: 3.125rem;
            }
            .site-content {
                width: 65rem;
                margin: 0 auto;
                background-color: white;
                box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(231, 228, 228, 0.8);
                padding: 5rem 5rem 5rem 5rem;
                .content-title {
                    text-align: left;
                    margin-bottom: 1.875rem;
                    p:nth-child(1) {
                        font-size: 1.25rem;
                        margin-bottom: 0.4375rem;
                    }
                    P:nth-child(2) {
                        font-size: 0.8125rem;
                        margin-bottom: 0.3125rem;
                    }
                    p:nth-child(3) {
                        height: 0.125rem;
                        width: 3.125rem;
                        background-color: black;
                    }
                }
                .content-detail {
                    display: flex;
                    .detail-left {
                        .amap-container {
                            width: 31.25rem;
                            height: 31.25rem;
                        }
                    }
                    .detail-right {
                        .right-content {
                            text-align: left;
                            width: 31.25rem;
                            p {
                                width: 18.6875rem;
                                font-size: 0.875rem;
                                margin: 0 auto 1.875rem;
                            }
                            p:hover {
                                color: #3e82ff;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 62.5rem) {
    .contact {
        .middle {
            margin-top: 0;
            .banner {
                width: 100%;
                height: 18.75rem;
                background-size: cover;
                .banner-content {
                    display: none;
                }
            }
            .way {
                margin-bottom: 3rem;
            }
            .site {
                margin-bottom: 3.125rem;
                .big-title {
                    letter-spacing: 0;
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                    margin-bottom: 2rem;
                }
                .site-content {
                    width: 65rem;
                    margin: 0 auto;
                    background-color: white;
                    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(231, 228, 228, 0.8);
                    padding: 0rem 0rem 2rem 0rem;
                    .content-title {
                        text-align: left;
                        margin-bottom: 1.875rem;
                        padding: 1rem 1rem 0rem 1rem;
                        p:nth-child(1) {
                            font-size: 1.25rem;
                            margin-bottom: 0.4375rem;
                        }
                        P:nth-child(2) {
                            font-size: 0.8125rem;
                            margin-bottom: 0.3125rem;
                        }
                        p:nth-child(3) {
                            height: 0.125rem;
                            width: 3.125rem;
                            background-color: black;
                        }
                    }
                    .content-detail {
                        display: block;
                        .detail-left {
                            margin-bottom: 1.875rem;
                            .amap-container {
                                width: 100vw;
                                height: 18.75rem;
                                // margin: 0 auto;
                            }
                        }
                        .detail-right {
                            .right-content {
                                text-align: left;
                                width: 100vw;
                                p {
                                    width: 100vw;
                                    font-size: 0.875rem;
                                    margin: 0 auto 0.625rem;
                                    padding-left: 0.9375rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 31.25rem){
    .contact {
        .middle {
            .banner {
                height: 8rem;
            }
        }
    }
}
