.home {
    overflow: hidden;
    background-color: #f6f6f6;
    .header {
        .top-right {
            ul {
                .sy {
                    border-bottom: 0.125rem solid rgb(255, 208, 75);
                    p {
                        color: rgb(255, 208, 75);
                    }
                }
            }
        }
    }
    .middle {
        // margin-top: 5rem;
        .banner {
            width: 100%;
            height: 37.5rem;
            background: url(../assets/Home/timg.jpg) no-repeat;
            background-size: cover;
            .banner-content {
                width: 75rem;
                overflow: hidden;
                margin: 0 auto;
                .title {
                    color: white;
                    text-align: left;
                    margin-top: 6.25rem;
                    p {
                        margin-left: 6.25rem;
                    }
                    p:nth-child(1) {
                        font-size: 0.9375rem;
                    }
                    p:nth-child(2) {
                        font-size: 1.75rem;
                        letter-spacing: 0.5rem;
                    }
                }
                .yy {
                    text-align: left;
                    p {
                        color: white;
                        margin-left: 15rem;
                        margin-top: 5rem;
                        font-size: 1.25rem;
                        letter-spacing: 0.2rem;
                    }
                }
            }
        }
        .business {
            background-color: #f6f6f6;
            overflow: hidden;
            .business-content {
                width: 65vw;
                margin: 6.25rem auto 5rem;
                .big-title {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5rem;
                    height: 2.9375rem;
                    .img {
                        img {
                            width: 4.0625rem;
                        }
                    }
                    p {
                        height: 2.9375rem;
                        line-height: 2.625rem;
                        font-size: 1.75rem;
                        color: #bb9a66;
                        margin-left: 1.25rem;
                        letter-spacing: 0.1rem;
                    }
                }
                .details {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .details-list {
                        width: 18.75rem;
                        height: 25rem;
                        background-color: white;
                        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(231, 228, 228, 0.8);
                        .img {
                            width: 3.125rem;
                            margin: 5rem auto 1.875rem;
                            img {
                                width: 3.125rem;
                            }
                        }
                        .title {
                            width: 100%;
                            text-align: center;
                            font-size: 1.25rem;
                            font-weight: bold;
                            margin-bottom: 1.25rem;
                            letter-spacing: 0.1rem;
                        }
                        .details-middle {
                            font-size: 0.875rem;
                            padding: 0 2.5rem 0 2.5rem;
                            letter-spacing: 0.1rem;
                            line-height: 1.5625rem;
                        }
                    }
                }
            }
        }
        .ject {
            margin-top: 6.25rem;
            .ject-content {
                width: 65vw;
                margin: 0 auto;
                .ject-content-title {
                    margin-bottom: 5rem;
                    .little-title {
                        // width: 30.625rem;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        .img {
                            height: 5rem;
                            img {
                                width: 5rem;
                            }
                        }
                        p {
                            margin-left: 1.25rem;
                            line-height: 5rem;
                            color: #bb9a66;
                            font-size: 1.75rem;
                            color: #bb9a66;
                            letter-spacing: 0.1rem;
                        }
                    }
                    .p1 {
                        font-size: 1.125rem;
                        color: #333;
                        font-weight: 800;
                        letter-spacing: 0.1rem;
                    }
                }
                .ject-content-detail {
                    margin-bottom: 3.125rem;
                    .detail-up {
                        margin-bottom: 5rem;
                        .yw {
                            .ic {
                                cursor: pointer;
                                margin: 0 auto 1.25rem;
                                width: 6.25rem;
                                height: 6.25rem;
                                background: url(../assets/Home/yuan.jpg) no-repeat;
                                background-size: cover;
                                display: flex;
                                align-items: center;
                                i {
                                    font-size: 2.75rem;
                                    margin: 0 auto;
                                    color: #3e82ff;
                                }
                            }
                            p {
                                cursor: pointer;
                                font-size: 1.125rem;
                                color: #333;
                                font-weight: 800;
                            }
                        }
                    }
                    .detail-down {
                        margin-bottom: 5rem;
                        .yw {
                            .ic {
                                cursor: pointer;
                                margin: 0 auto 1.25rem;
                                width: 6.25rem;
                                height: 6.25rem;
                                background: url(../assets/Home/yuan.jpg) no-repeat;
                                background-size: cover;
                                display: flex;
                                align-items: center;
                                i {
                                    font-size: 2.75rem;
                                    margin: 0 auto;
                                    color: #3e82ff;
                                }
                            }
                            p {
                                cursor: pointer;
                                font-size: 1.125rem;
                                color: #333;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 62.5rem) {
    .home {
        overflow: hidden;
        .middle {
            margin-top: 0;
            .banner {
                width: 100%;
                height: 18.75rem;
                background: url(../assets/Home/timg.jpg) no-repeat;
                background-size: cover;
                .banner-content {
                    width: 100vw;
                    .title {
                        color: white;
                        text-align: center;
                        margin-top: 3.25rem;
                        p {
                            margin-left: 0;
                        }
                        p:nth-child(1) {
                            font-size: 0.9375rem;
                        }
                        p:nth-child(2) {
                            font-size: 1.75rem;
                            letter-spacing: 0.5rem;
                        }
                    }
                    .yy {
                        text-align: center;
                        p {
                            color: white;
                            margin-left: 0;
                            margin-top: 3rem;
                            font-size: 1.25rem;
                            letter-spacing: 0.2rem;
                        }
                    }
                }
            }
            .business {
                background-color: #f6f6f6;
                overflow: hidden;
                .business-content {
                    width: 100vw;
                    margin-top: 0;
                    .big-title {
                        margin: 2rem auto 2rem;
                        display: flex;
                        justify-content: center;
                        height: 2.9375rem;
                        .img {
                            img {
                                width: 4.0625rem;
                            }
                        }
                        p {
                            height: 2.9375rem;
                            line-height: 2.625rem;
                            font-size: 1.75rem;
                            color: #bb9a66;
                            margin-left: 1.25rem;
                            letter-spacing: 0.1rem;
                        }
                    }
                    .details {
                        width: 100%;
                        display: block;
                        justify-content: space-between;
                        .details-list {
                            overflow: hidden;
                            width: 18.75rem;
                            margin: 0 auto 2.5rem;
                            height: 20rem;
                            background-color: white;
                            box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(231, 228, 228, 0.8);
                            .img {
                                width: 3.125rem;
                                margin: 3rem auto 1.875rem;
                                img {
                                    width: 3.125rem;
                                }
                            }
                            .title {
                                width: 100%;
                                text-align: center;
                                font-size: 1.25rem;
                                font-weight: bold;
                                margin-bottom: 1.25rem;
                                letter-spacing: 0.1rem;
                            }
                            .details-middle {
                                font-size: 0.875rem;
                                padding: 0 2.5rem 0 2.5rem;
                                letter-spacing: 0.1rem;
                                line-height: 1.5625rem;
                            }
                        }
                    }
                }
            }
            .ject {
                .ject-content {
                    width: 100vw;
                    margin: 0 auto;
                    .ject-content-title {
                        .little-title{
                            margin-bottom: 0.3125rem;
                           p{
                               line-height: 2.1875rem;
                               margin-top: 1.25rem;
                           }
                        }
                        .p1{
                            padding: 0 1.25rem 0 1.25rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 31.25rem){
    .home {
        .middle {
            .banner {
                height: 8rem;
                .banner-content{
                    .title{
                        margin-top: 1.25rem;
                    }
                    .yy{
                        p{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
