.login {
    overflow: hidden;
    background-color: #f6f6f6;
    .header {
        .top-right {
            ul {
                .loginBtn {
                    border-bottom: 0.125rem solid rgb(255, 208, 75);
                    p {
                        color: rgb(255, 208, 75);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 62.5rem) {
    .login {
      
    }
}
@media screen and (max-width: 31.25rem){
    .login {
        
    }
}
