.product {
    overflow: hidden;
    background-color: #f6f6f6;
    .header {
        .top-right {
            ul {
                .cp {
                    border-bottom: 0.125rem solid rgb(255, 208, 75);
                    p {
                        color: rgb(255, 208, 75);
                    }
                }
            }
        }
    }
    .middle {
        // margin-top: 80px;
        .banner {
            width: 100%;
            height: 25rem;
            background: url(../assets/Home/123456.jpg) no-repeat;
            background-size: cover;
        }
        .way {
            margin-top: 1rem;
            margin-bottom: 6.25rem;
            text-align: left;
            padding-left: 19vw;
            color: #666;
            font-size: 0.5625rem;
        }
        .flow {
            margin-bottom: 6.25rem;
            .flow-title {
                margin-bottom: 5rem;
                .big-title {
                    font-size: 1.75rem;
                    margin-bottom: 1.25rem;
                }
                .little-title {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #999;
                }
            }
            .flow-content {
                width: 90%;
                margin: 0 auto;
                .flow-list {
                    .img {
                        margin-bottom: 1.875rem;
                        width: 8vw;
                        margin: 0 auto;
                        height: 90px;
                    }
                    .des {
                        font-size: 14px;
                    }
                }
                .img2{
                    height: 133px;
                    margin-top: 30px;
                    img{
                        width: 4vw;
                    }
                }
            }
        }
        .jies {
            margin-bottom: 6.25rem;
            .jies-title {
                font-size: 1.75rem;
                margin-bottom: 5rem;
            }
            .detail {
                .detail-list {
                    margin-bottom: 3.125rem;
                    .list-content {
                        width: 34.375rem;
                        margin: 0 auto;
                        display: flex;
                        .img {
                            cursor: pointer;
                        }
                        .exp {
                            text-align: left;
                            width: 25rem;
                            margin-left: 3.125rem;
                            .exp-title {
                                font-size: 16px;
                                color: #333;
                                font-weight: 400;
                                margin-bottom: 18px;
                                cursor: pointer;
                            }
                            .exp-midd {
                                font-weight: 400;
                                font-size: 0.875rem;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 62.5rem) {
    .product {
        .middle {
            margin-top: 0;
            .way {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .banner {
                width: 100%;
                height: 18.75rem;
                background: url(../assets/Home/r.jpg) no-repeat;
                background-size: cover;
            }
            .flow {
                margin-bottom: 30px;
                .flow-title {
                    margin-bottom: 2rem;
                    .big-title {
                        padding: 0 0.625rem 0 0.625rem;
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                    }
                    .little-title {
                        font-size: 0.875rem;
                        padding: 0 0.625rem 0 0.625rem;
                        line-height: 1.5;
                        color: #999;
                    }
                }
                .flow-content {
                    width: 90%;
                    margin: 0 auto;
                    .flow-list {
                        margin-bottom: 30px;
                        .img {
                            margin-bottom: 10px;
                            margin: 0 auto;
                            height: 90px;
                            img{
                                width: 8vw;
                            }
                        }
                        .des {
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                    .img2{
                        display: none;
                    }
                }
            }
            .jies {
                .jies-title {
                    padding: 0 0.625rem 0 0.625rem;
                    font-size: 1.25rem;
                    margin-bottom: 2rem;
                }
                .detail {
                    .detail-list {
                        margin-bottom: 1.25rem;
                        .list-content {
                            width: 80vw;
                            margin: 0 auto;
                            display: flex;
                            .img{
                                display: flex;
                                align-items: center;
                                img{
                                    display: block;
                                }
                            }
                            .exp {
                                text-align: left;
                                width: 25rem;
                                margin-left: 20px;
                                .exp-title {
                                    font-size: 16px;
                                    color: #333;
                                    font-weight: 400;
                                    margin-bottom: 18px;
                                }
                                .exp-midd {
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 31.25rem) {
        .product {
            .middle {
                .banner {
                    height: 8rem;
                }
                .flow{
                    .flow-content{
                        .flow-list{
                            .img{
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
